.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  .error-page h1 {
    font-size: 10rem;
  }
  .error-page p {
    font-size: 1.25rem;
  }
  .error-page a {
    margin-top: 20px;
  }