<div class="row my-3">
  <div class="col-3">
    <button
      class="btn btn-success mx-1"
      (click)="prevPage()"
      [disabled]="page <=1 "
    >
      Prev
    </button>
    <button
      class="btn btn-success mx-1"
      (click)="nextPage()"
      [disabled]="page >= totalPages"
    >
      Next
    </button>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  @for (movie of allMovies; track movie.id) {
  <div class="col">
    <div class="card">
      <a [routerLink]="['/movdetails', movie.id]">
        <img
          [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
          class="card-img-top"
          alt="..."
        />
      </a>
      <div class="card-body">
        <h5 class="card-title">{{ movie.title | uppercase }}</h5>
        @if (movie.vote_average > 7) {
        <span class="badge text-bg-danger">Highest Rate</span>
        }@else {
        <span class="badge text-bg-warning">{{ movie.vote_average }}</span>
        }
        <h3 class="card-text">{{ movie.release_date | date }}</h3>
        <!-- <p class="card-text">{{ movie.overview }}</p> -->
      </div>
    </div>
  </div>

  }@empty {
  <h1 class="mt-3">No Data Founded!</h1>
  }
</div>
